/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffdfa;
  color: #3a3939;

  box-sizing: border-box;
  // overflow-x: hidden;
}

:host ::ng-deep .mat-focused {
  color: #7c6a0a;
}

:host
  ::ng-deep
  .mat-mdc-form-field
  .mat-mdc-form-field-type-mat-input
  .mat-mdc-form-field-appearance-fill
  .mat-primary
  .mat-mdc-form-field-label-always-float
  .mat-focused {
  color: #7c6a0a;
  border-color: #7c6a0a;
}

// colors
// verde musgo #7c6a0a
// verde claro #babd8d
// bege #ffdac6
// laranja médio #fa9500
// laranja escuro #eb6424
