/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f5eee6;
  color: #0d0d0d;

  box-sizing: border-box;
  // overflow-x: hidden;
}

// :host ::ng-deep .mat-primary {
//   --mat-full-pseudo-checkbox-selected-icon-color: #7c6a0a;
//   --mat-minimal-pseudo-checkbox-selected-checkmark-color: #7c6a0a;
// }

:host ::ng-deep .mat-focused {
  color: #7c6a0a;
}

:host
  ::ng-deep
  .mat-mdc-form-field
  .mat-mdc-form-field-type-mat-input
  .mat-mdc-form-field-appearance-fill
  .mat-primary
  .mat-mdc-form-field-label-always-float
  .mat-focused {
  color: #7c6a0a;
  border-color: #7c6a0a;
}

// colors
// verde musgo #7c6a0a
// verde claro #babd8d
// bege #ffdac6
// laranja médio #fa9500
// laranja escuro #eb6424
