.acoes {
  display: flex;
  align-items: center;
  gap: 4px;

  &__link {
    text-decoration: none;
    padding: 8px 12px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    font-weight: 500;
  }
}
